
.footer-container {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.fale-conosco-button {
    background-color: yellow;
    color: #1c1c1c;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
.fale-conosco-button:hover {
    background-color: #fff;
}

.developer-text {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    opacity: 0.8;
}