.search-bar-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
}

.search-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-results {
    margin-top: 16px;
}

.search-results li {
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    .search-input {
        width: 200px;
        margin: 0;

    }
}