.card {
  background-color: #d3d3d3;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: flex;
  align-items: center;
}

.card-image {
  max-width: 250px;
  height: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #d3d3d3;
  text-align: center;
}

.card-info {
  text-align: justify;
}

.card h2 {
  margin-top: 0;
}

.card-biography {
  text-align: justify;
  margin-top: 10px;
}

.favorite-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.favorite-button:focus {
  outline: none;
}

.favorite-button span {
  color: #000;
}

.favorite-button.favorited span {
  color: yellow;
}

.button-container-add {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.add-button {
  padding: 10px 20px;
  background-color: #fde400;
  color: #000000;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #eed705;
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  
  .card-content {
    margin-top: 20px;
  }
}
