.home-page {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
  }
  
  .winners-section {
    margin-bottom: 20px;
  }
  
  .winner-photos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }
  
  .about-section p {
    margin-bottom: 20px;
    text-align: justify;
    margin-top: 10px;
  }
  
  .zumbi-section p{
    margin-bottom: 20px;
    text-align: justify;
    margin-top: 10px;
  }
  
  .zumbi-section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .zumbi-section p {
    color: #666;
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    .winner-photos {
        flex-direction: column;
        align-items: center;
      }
    }