.container {
    max-width: 400px;
    min-width: 400px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0 2rem 0;
    border: 1px solid rgb(205, 205, 205);
  }
  
  .container h2 {
    margin-bottom: 20px;
  }
  
  .container label {
    display: flex;
    margin-bottom: 10px;
  }
  
  .container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .container .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .container button:hover {
    background-color: #0069d9;
  }
  
  .container button[type="submit"] {
    background-color: #28a745;
  }
  
  .container button[type="submit"]:hover {
    background-color: #218838;
  }
  
  .container .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .container .back-button {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border: none;
    text-decoration: none;
    margin-bottom: 1rem;
    max-width: fit-content;
  }
  
  .container .back-button:hover {
    background-color: #c82333;
  }
  
  @media (max-width: 768px) {
    .container {
      min-width: 280px;
      margin: 0;

    }
  
    .container input {
      margin-bottom: 10px;

    }
  
    .container .button-container {
      flex-direction: row;
      gap: 10px;
    }
  
    .container .button-container .back-button {
      background-color: #007bff;
    }
  
    .container .button-container .back-button:hover {
      background-color: #0069d9;
    }
  
    .container .button-container button {
      background-color: #28a745;
    }
  
    .container .button-container button:hover {
      background-color: #218838;
    }
  } 
  