header {
  position: relative;
  height: 200px;
}

header > div:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: url(https://www.pp7lp.com.br/diplomas/zumbidospalmares/zumbidospalmares_720.jpg) center top no-repeat;
  background-size: cover;
}

header > div:last-child {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

header > div:last-child h1 {
  margin-bottom: 20px;
  font-size: 32px;
}

header > div:last-child nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > div:last-child ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header > div:last-child ul li {
  margin-right: 10px;
  margin-bottom: 30px;
}

header > div:last-child ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

header > div:last-child ul li a:hover {
  background-color: white;
  border-radius: 5px;
}

button{
  background: #000;
  color: #fff;
  font-size: 15.5px;  
  font-family: Arial;
  padding: 10px;
  
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  header > div:last-child h1 {
    font-size: 24px;
  }

  header > div:last-child ul {
    flex-direction: row;
    justify-content: center;
  }

  header > div:last-child ul li {
    margin-bottom: 10px;
  }

  header > div:last-child ul li a {
    font-size: 14px;
    padding: 5px;
    border: none;
  }
}

