.login-form-container {
  display: flex;
  flex-direction: column;
  background-color: #cc0a0a;
  padding: 0 0 1rem 0;
  margin: 2rem 0 2rem 0;
  max-width: 400px;
  min-width: 300px;
  text-align: center;
  align-items: center;
  border: 1px solid rgb(214, 214, 214);
  background-color: #f9f9f9;
  border-radius: 0.3rem;
}

.login-form-container h1 {
  margin-bottom: 20px;
}

.login-form-container label {
  display: flex;
  margin-bottom: 10px;
}

.login-form-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

.login-form-container button[type="submit"],
.login-form-container button[type="button"] {
  display: block;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}
.container .error {
  color: red;
  margin-bottom: 10px;
}


.login-form-container button[type="submit"] {
  background-color: #ffc107;
  color: black;
}

.container .button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.login-form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-form-container button:hover {
  background-color: #0069d9;
}

.login-form-container button[type="submit"] {
  background-color: #ffca2c;
}

.login-form-container button[type="submit"]:hover {
  background-color: #f5e726;
}

#forgot-password-button {
  background-color: transparent;
  color: #322f2f;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

#forgot-password-button:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .login-form-container {
      margin-right: auto;
      margin-left: auto;
  }
}