/* main {
  text-align: center;
  vertical-align: center;
} */

.menu-button {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border: 1px solid #cab8b8;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.menu-button:hover {
  background-color: #fff;
  color: #000;
}
