.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .contact-form-container form {
    display: grid;
    gap: 10px;
  }
  
  .contact-form-container label {
    font-weight: bold;
  }
  
  .contact-form-container input,
  .contact-form-container textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .contact-form-container input[type='submit'] {
    width: 95%;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .contact-form-container hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #ddd;
  }
  h1{
    text-align: center;
    vertical-align: center; 
  }
  
  