.premiado-cadastrado-container {
    max-width: 400px;
    min-width: 300px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0 2rem 0;
    border: 1px solid rgb(205, 205, 205);
  }
  
  .premiado-cadastrado-container h1 {
    margin-bottom: 20px;
  }
  
  .premiado-cadastrado-container label {
    display: flex;
    margin-bottom: 10px;
  }
  
  .premiado-cadastrado-container input[type="text"],
  .premiado-cadastrado-container input[type="date"],
  .premiado-cadastrado-container textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .premiado-cadastrado-container textarea {
    resize: vertical;
  }
  
  .premiado-cadastrado-container .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .premiado-cadastrado-container button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .container button:hover {
    background-color: #197ce6;
  }
  .premiado-cadastrado-container button[type="submit"] {
    background-color: #28a745;
  }
  
  .premiado-cadastrado-container button[type="submit"]:hover {
    background-color: #218838;
  }
  